= form_tag folder_active_imap_messages_path do |f|
  .field
    = text_field_tag :to, nil, {:placeholder => "Destination"}
  .field
    = text_field_tag :subject, nil , {:placeholder => "Subject"}
  .field
    = text_area_tag :body, nil, {:class => "mail-text-area"}
  .actions
    = submit_tag 'Send', :class => ["btn","btn-primary"]
