= form_tag active_imap_messages_path do |f|
  .field
    = label_tag :to
    = text_field_tag :to
  .field
    = label_tag :subject
    = text_field_tag :subject
  .field
    = label_tag :body
    = text_area_tag :body
  .actions
    = submit_tag 'Send'
