%h1 Listing active_imap_messages

- unless params[:folder_id]
  = link_to 'Compose', new_active_imap_message_path
%ul
  %li= link_to 'Inbox', active_imap_messages_path
  %li= link_to 'Sent', change_folder_path('Sent')
  %li= link_to 'Trash', change_folder_path('Trash')

%table
  %tr
    %th Subject
    %th From
    %th Date
    %th

  - @active_imap_messages.each do |active_imap_message|
    %tr{:class => ("unseen" if active_imap_message.unseen?)}
      %td= link_to active_imap_message.subject, active_imap_message
      %td= active_imap_message.from[0]
      %td= time_ago_in_words active_imap_message.date
      - unless params[:folder_id]
        %td= link_to 'Delete', active_imap_message, method: :delete, data: { confirm: 'Are you sure?' }
