= link_to "Mail Web Client", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in? 
    %li
      = link_to 'MailBox', folder_active_imap_messages_path(:folder_id => 'INBOX')
    - if current_user.has_role? :admin
      %li
        = link_to 'Admin', users_path
      
%ul.nav.pull-right
  - if user_signed_in?
    %li
      = link_to 'My Settings', edit_user_registration_path
    %li
      = link_to 'Logout', destroy_user_session_path, :method=>'delete'
  - else
    %li
      = link_to 'Sign up', new_user_registration_path
    %li
      = link_to 'Login', new_user_session_path